In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("kharghards.csv")

In [4]:
data.tail()

     Price (in lakhs) Sector  Plot No  SQ.Ft  BHK
395               NaN    NaN        6    NaN    2
396               NaN    NaN        7    NaN    3
397               NaN    NaN        8    NaN    1
398               NaN    NaN        9    NaN    2
399               NaN    NaN       10    NaN    1